.DS_Store
*/.DS_Store

# Ignore the downloaded AppImage compiler, but NOT the build script
scripts/appimagetool-x86_64.AppImage

# Ignore build artifacts and assembled UI_Templates
*.zip
build_temp/
Portable XAMPP.app/Contents/Resources/UI_Template/

# Ignore compiled release binaries
releases/
