web_path.conf
.DS_Store
*/.DS_Store
UI_Template/.XAMPPconfig/overrides/icons/*
Linux/build_appimage.sh

# Ignore build artifacts and assembled UI_Templates
*.zip
build_temp/
PortableXAMPP.app/Contents/Resources/UI_Template
